@{
    ViewData["Title"] = "Home Page";
}

<div class="splash-background">
    <img src="~/images/background.jpg" alt="Azure Cosmos DB" class="img-responsive" />
    <div class="splash-capture pull-left">
        <h1>Azure Cosmos DB</h1>
        <h3>Globally distributed, multi-model database service</h3>
        <br />
        <a class="btn btn-default" href="https://azure.microsoft.com/services/cosmos-db/">
            Learn More
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Turnkey global distribution</h3>
        <p>
            Easily build globally-distributed applications without the hassle of complex, multiple-datacenter configurations. Designed as a globally distributed database system, Azure Cosmos DB automatically replicates your data to any number of regions of your choice, for fast, responsive access. Azure Cosmos DB supports transparent multi-homing and guarantees 99.99% high availability.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Multi-model + multi-API</h3>
        <p>
            Only Azure Cosmos DB allows you to use key-value, graph, and document data in one service, at global scale and without concerns about schema or index management. Azure Cosmos DB automatically indexes all data, and allows you to use your favorite API including SQL, JavaScript, Gremlin, MongoDB, and Azure Table Storage to access your data.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Limitless elastic scale around the globe</h3>
        <p>
            With Azure Cosmos DB, you only pay for the throughput and storage you need. Azure Cosmos DB allows you to independently and elastically scale storage and throughput at any time, anywhere across the globe, making it a perfect ally for your serverless applications.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Multiple, well-defined consistency choices</h3>
        <p>
            Azure Cosmos DB offers five well-defined consistency levels—strong, bounded staleness, consistent-prefix, session, and eventual—for an intuitive programming model with low latency and high availability for your planet-scale app.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Guaranteed low latency at 99th percentile</h3>
        <p>
            Serve read and write requests from the nearest region while simultaneously distributing data across the globe. With its latch-free and write optimized database engine, Azure Cosmos DB guarantees less than 10-ms latencies on reads and less than 15-ms latencies on (indexed) writes at the 99th percentile.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Industry-leading, enterprise-grade SLAs</h3>
        <p>
            Rest assured your apps are running on a “battle-tested” database service, built on world-class infrastructure. Azure Cosmos DB gives you enterprise-grade security and compliance, and is the first and only service to offer industry-leading SLAs for 99.99% high availability, latency at the 99th percentile, guaranteed throughput, and consistency.
        </p>
    </div>
</div>